body {background-color: black;}
h1 {font-style: oblique; font-size: 500%;color: rgb(185, 173, 1);margin-left: 44%;}
h2 {font-size: 200%;color: rgb(2, 75, 2);margin-left: 29%;}
#ima1 {margin-left: 30%; width: 40%;}
h3 {font-size: 200%; color: rgb(2, 75, 2);}
h4 {font-style: oblique;color: rgb(185, 173, 1); font-size: 190%;}
#ima2 {width: 60%;margin-left: 20%;}
h5 {font-size: 150%;margin-left: 46%; color: rgb(219, 145, 8);}
h6 {font-size: 150%; margin-left: 39%;}